header {
    width: 100%;
    height: 98px;
    left: -1px;
    color: red;
}


nav {
        background-color: #fff;
        width: 100%;
}

#logo {
    width: 100%;
    height: 53px;
    position:relative;
   
    top: 4px;
}

.row-button {
    height: 100px; /* Set the height of the row */
    background-color: #e0e0e0; /* Background color for the button-like appearance */
    cursor: pointer; /* Add pointer cursor for better user interaction */
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 100%; 
}

.custom-image {
    width: 200px; /* Set the desired width for all images */
    height: 150px; /* Set the desired height for all images */
}

#additional-content{
    display: none;
     margin-top: 50px;
}